/* You can add global styles to this file, and also import other style files */
* {
    font-family: Arial;
}

table {
    border-spacing: 0;
}

td {
    border-top: 1px solid black;
    padding: 4px;
}

.rating {
    color: rgb(168, 151, 0);
    cursor: pointer;
}
