li {
  display: flex;
  justify-content: space-between;

  font-size: 20px;
  font-weight: bold;
}

li i {
  color: #c43e00;
  cursor: pointer;
}

label {
  font-size: 25px;
  color: #000000;
  font-weight: bold;
}

textarea {
  background: #0c63a6;
  font-size: 18px;
  height: 200px;
}
