table {
  width: 100%;
}

mat-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-card {
  font-weight: bold;
  font-size: 100%;
  border-bottom: 1px solid black;
}

mat-toolbar {
  justify-content: space-between;
}

mat-toolbar button {
  background: none;
  border: none;
}

.material-icons {
  margin-right: 7rem;
  color: white;
}

.total-container {
  font-size: 20px;
  font-weight: bold;
}

.value {
  text-align: right;
}
