<p class="title">{{ titulo }}</p>
<div class="nonePicture" *ngIf="fotos.length === 0">Nenhuma Imagem</div>
<ng-container class="container" *ngIf="!(fotos.length === 0)">
  <div class="galery">
    <img [src]="fotos[currentImg]" />
    <p class="switchPicture">Foto {{ currentImg + 1 }} de {{ fotos.length }}</p>
  </div>
  <div class="button-container">
    <button [disabled]="currentImg == 0" (click)="firstPicture()">
      <span class="material-icons">skip_previous</span>
    </button>
    <button [disabled]="currentImg == 0" (click)="prevPicture()">
      <span class="material-icons">keyboard_arrow_left</span>
    </button>
    <button [disabled]="currentImg == fotos.length - 1" (click)="nextPicture()">
      <span class="material-icons">keyboard_arrow_right</span>
    </button>
    <button [disabled]="currentImg == fotos.length - 1" (click)="lastPicture()">
      <span class="material-icons">skip_next</span>
    </button>
  </div>
</ng-container>
